<% include ../partials/header %>
<div class="AccountNavTitle Display2 mt3 ml3">Personal Information</div>
<div class="ButtonClose mt3">Close</div>
<form class="FormPersInfo mr3 ml3">
	<div>
		<label for="firstname" class="CallToAction op50 FormLabel">First Name</label>
		<input type="text" name="firstname" class="FormInput pl2">
	</div>
	<div>
		<label for="lastname" class="CallToAction op50 FormLabel">Last</label>
		<input type="text" name="lastname" class="FormInput">
	</div>
	<div>
		<label for="email" class="CallToAction op50 FormLabel">Email</label>
		<input type="text" name="email" class="FormInput">
	</div>
	<div>
		<label for="phone" class="CallToAction op50 FormLabel">Phone</label>
		<input type="text" name="phone" class="FormInput">
	</div>
	<div>
		<label for="AddressLine1" class="CallToAction op50 FormLabel">Address (Line 1)</label>
		<input type="text" name="AddressLine1" class="FormInput">
	</div>
	<div>
		<label for="AddressLine2" class="CallToAction op50 FormLabel">Address (Line 2)</label>
		<input type="text" name="AddressLine2" class="FormInput">
	</div>
	<div>
		<label for="city" class="CallToAction op50 FormLabel">City</label>
		<input type="text" name="city" class="FormInput">
	</div>
	<div>
		<label for="zip" class="CallToAction op50 FormLabel">Zip</label>
		<input type="text" name="zip" class="FormInput">
	</div>
	<div class="FormSubmit">
		<input type="submit" value="Save" class="frap FrapSave">
	</div>
</form>
<% include ../partials/footer %>
