<% include ../partials/header %>

<div class="AccountNavTitle Display2 mt2 ml2">Personal Information</div>
<div class="ButtonClose mt2">Close</div>

<form>
	<div>
		<label for="firstname">First Name</label>
		<input type="text" name="firstname">
	</div>
	<div>
		<label for="lastname">Last</label>
		<input type="text" name="lastname">
	</div>
	<div>
		<label for="email">Email</label>
		<input type="text" name="email">
	</div>
	<div>
		<label for="phone">Phone</label>
		<input type="text" name="phone">
	</div>
	<div>
		<label for="AddressLine1">Address (Line 1)</label>
		<input type="text" name="AddressLine1">
	</div>
	<div>
		<label for="AddressLine2">Address (Line 2)</label>
		<input type="text" name="AddressLine2">
	</div>
	<div>
		<label for="city">City</label>
		<input type="text" name="city">
	</div>
	<div>
		<label for="zip">Zip</label>
		<input type="text" name="zip">
	</div>
</form>

<button class="frap FrapSave">Save</button>




<% include ../partials/footer %>
