<% include ../partials/header %>

<div class="FeatureLabel NoNav pt5 pl2 pb2 Display2 Black">Personal Information</div>
<div class="ButtonClose">Close</div>
<div class="ml3 PersInfo PersInfoFirstName">
	<p class="op50">First Name</p>
	<p class="">Jeremy</p>
</div>
<div class="ml3 PersInfo PersInfoLastName">
	<p class="op50">Last Name</p>
	<p class="">Beasley</p>
</div>
<div class="ml3 PersInfo PersInfoEmail">
	<p class="op50">Email</p>
	<p class="">jeremy@bsley.com</p>
</div>
<div class="ml3 PersInfo PersInfoPhone">
	<p class="op50">Phone</p>
	<p class="">(206) 390-9023</p>
</div>
<div class="ml3 PersInfo PersInfoAddress">
	<p class="op50">Address</p>
	<p class="">892 25th Ave S</p>
	<p class="">Apt 12</p>
	<p class="">Seattle, WA</p>
	<p class="">98122</p>
</div>
<button class="frap FrapEdit"  onclick="location.href='account_personalinfo_edit';">Edit</button>
<% include ../partials/footer %>
