<% include ../partials/header %>

<div class="bbg pb3">
	<div class="FeatureLabel Display2 mt8 pl2 pb4">Edit Budgets</div>
  <div class="ButtonClose op50" onclick="location.href='budget_detail';">Close</div>
</div>
<ul class="LedgerSet">
	<li class="LedgerItem bbg">
		<div class="op50 LedgerRow">
			<div class="LedgerCell">Display Order</div>
		</div>
		<div class="LedgerRow">
			<div class="LedgerCell">Largest to Smallest</div>
		</div>
	</li>
	<li class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="op50 LedgerCell">Budgeting &amp; Bills Period</div>
		</div>
		<div class="LedgerRow">
			<div class="LedgerCell">2 weeks</div>
		</div>
	</li>
</ul>
<button class="frap FrapSave">Save</button>

<% include ../partials/footer %>