<% include ../partials/header %>

<div class="bbg">
	<div class="ViewLabel Display2 pt3 pl2 pb4">Edit Budgets</div>
	<!-- <div class="ButtonSort">Sort</div> -->
  <div class="EditBudgetsBtnClose" onclick="location.href='';">Close</div>
</div>

<% include ../partials/footer %>