<% include ../partials/header %>

<div class="bbg pb3">
	<div class="FeatureLabel Display2 mt8 pl2 pb4">Edit Budgets</div>
	<!-- <div class="ButtonSort">Sort</div> -->
  <div class="EditBudgetsBtnClose op50" onclick="location.href='';">Close</div>
</div>
<div class="EditBudgetsContainer bbg">
	<div class="op50 pl2 pt2 pb1">Display Order</div>
	<div class="pl2 pb2">Largest to Smallest</div>
</div>
<div class="EditBudgetsContainer bbg">
	<div class="op50 pl2 pt2 pb1">Budgeting &amp; Bills Period</div>
	<div class="pl2 pb2">2 weeks</div>
</div>
<button class="frap FrapSave">Save</button>

<% include ../partials/footer %>