<% include ../partials/header %>
<div class="BudgetDetailViewHeader bbg">
<button class="BtnBackToBudgets op50 mt2">
	<img src="_img/_icon/dark/chevron_left.svg" class="BtnBacktoBudhgets">
	<div>Budgets</div>
</button>
<div>
	<div class="ViewLabel Display2 pt3 pl2 pb2">Groceries</div>
  <div class="ButtonSettings" onclick="location.href='budget_edit';">Settings</div>
  <div class="BudgetHeaderProgBarContainer">
  		<span class="BudgetHeaderProgBar"></span>
  </div>
  <div class="BudgetTotal">&#36;267 of &#36;900</div>
  <div class="BudgetDetailSpent FontSize13 ml2 op50">Spent in Budget</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Target</div>
	<div class="TransactionAmount pt3">&#36;5.23</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Whole Foods</div>
	<div class="TransactionAmount pt3">&#36;89.22</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Safeway Foods</div>
	<div class="TransactionAmount pt3">&#36;69.28</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Target</div>
	<div class="TransactionAmount pt3">&#36;29.42</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Target</div>
	<div class="TransactionAmount pt3">&#36;38.19</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Frank's Corner Store</div>
	<div class="TransactionAmount pt3">&#36;12.34</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Quality Food Centers</div>
	<div class="TransactionAmount pt3">&#36;213.00</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Jennybell's Mercantile</div>
	<div class="TransactionAmount pt3">&#36;10,000.00</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Target</div>
	<div class="TransactionAmount pt3">&#36;5.23</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Whole Foods</div>
	<div class="TransactionAmount pt3">&#36;89.22</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Safeway Foods</div>
	<div class="TransactionAmount pt3">&#36;69.28</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Target</div>
	<div class="TransactionAmount pt3">&#36;29.42</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Target</div>
	<div class="TransactionAmount pt3">&#36;38.19</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Frank's Corner Store</div>
	<div class="TransactionAmount pt3">&#36;12.34</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Quality Food Centers</div>
	<div class="TransactionAmount pt3">&#36;213.00</div>
</div>
<div class="TransactionSingle bbg FontSize13">
	<div class="TransactionVendor pl2 pt3">Jennybell's Mercantile</div>
	<div class="TransactionAmount pt3">&#36;10,000.00</div>
</div>
<div class="NoMoreTrans FontSize13 op50 mt4 mb4">No more transactions</div>
<% include ../partials/footer %>