<% include ../partials/header %>
<div class="LgFeatureHeader bbg">
<button class="BtnBack op50 mt2">
	<img src="_img/_icon/dark/chevron_left.svg" class="BtnBack">
	<div>Budgets</div>
</button>
<div>
	<div class="FeatureLabel Display2 pt3 pl2 pb2">Groceries</div>
  <div class="BudgetHeaderProgBarContainer">
  		<span class="BudgetHeaderProgBar"></span>
  </div>
  <div class="BudgetTotal">&#36;267 of &#36;900</div>
  <div class="BudgetDetailSpent FontSize13 ml2 op50">Spent in Budget</div>
</div>
<ul class="LedgerSet BudgetDetailLedgerSet">
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Target</div>
			<div class="LedgerCell">&#36;5.23</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Whole Foods</div>
			<div class="LedgerCell">&#36;89.22</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Safeway Foods</div>
			<div class="LedgerCell">&#36;69.28</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Target</div>
			<div class="LedgerCell">&#36;29.42</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Target</div>
			<div class="LedgerCell">&#36;38.19</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Frank's Corner Store</div>
			<div class="LedgerCell">&#36;12.34</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Quality Food Centers</div>
			<div class="LedgerCell">&#36;213.00</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Jennybell's Mercantile</div>
			<div class="LedgerCell">&#36;10,000.00</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Target</div>
			<div class="LedgerCell">&#36;5.23</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Whole Foods</div>
			<div class="LedgerCell">&#36;89.22</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Safeway Foods</div>
			<div class="LedgerCell">&#36;69.28</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Target</div>
			<div class="LedgerCell">&#36;29.42</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Target</div>
			<div class="LedgerCell">&#36;38.19</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Frank's Corner Store</div>
			<div class="LedgerCell">&#36;12.34</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Quality Food Centers</div>
			<div class="LedgerCell">&#36;213.00</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Jennybell's Mercantile</div>
			<div class="LedgerCell">&#36;10,000.00</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Target</div>
			<div class="LedgerCell">&#36;5.23</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Whole Foods</div>
			<div class="LedgerCell">&#36;89.22</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Safeway Foods</div>
			<div class="LedgerCell">&#36;69.28</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Target</div>
			<div class="LedgerCell">&#36;29.42</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Target</div>
			<div class="LedgerCell">&#36;38.19</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Frank's Corner Store</div>
			<div class="LedgerCell">&#36;12.34</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Quality Food Centers</div>
			<div class="LedgerCell">&#36;213.00</div>
		</div>
	</div>
	<div class="LedgerItem bbg">
		<div class="LedgerRow">
			<div class="LedgerCell">Jennybell's Mercantile</div>
			<div class="LedgerCell">&#36;10,000.00</div>
		</div>
	</div>
</ul>
<div class="CenterText FontSize13 op50 mt4 mb4">No more transactions</div>
<% include ../partials/footer %>
