<!DOCTYPE html>
<html>
<head>
   <title>Midas.</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
  <link href="master.css" rel="stylesheet">
  <script src="master.js"></script>
</head>
<body>
<div class="AppNav">
  <ul>
    <a href="/"><li class="AppNavHome">Home</li></a>
    <a href="/transactions"><li class="AppNavSpend">Spend</li></a>
    <a href="/budget"><li class="AppNavBudget">Budget</li></a>
    <a href="/bills"><li class="AppNavBills">Bills</li></a>
    <a href="/account"><li class="AppNavAccount">Account</li></a>
  </ul>
</div>
<div class="ContentContainer">