<div class="AppNav">
  <ul>
    <li class="Caption op50" data-section="Home">Home</li>
    <li class="Caption op50" data-section="Transaction">Spend</li>
    <li class="Caption op50" data-section="Budget">Budget</li>
    <li class="Caption op50" data-section="Bills">Bills</li>
    <li class="Caption op50 AppNavAccount" data-section="Account">Account</li>
  </ul>
</div>