<div class="AppNav">
  <ul>
    <a href="/"><li class="AppNavHome">Home</li></a>
    <a href="/transactions"><li class="AppNavSpend">Spend</li></a>
    <a href="/budget"><li class="AppNavBudget">Budget</li></a>
    <a href="/bills"><li class="AppNavBills">Bills</li></a>
    <a href="/account"><li class="AppNavAccount">Account</li></a>
  </ul>
</div>