<div class="AppNav">
  <ul>
    <li class="NavItem" data-section="Home">Home</li>
    <li class="NavItem" data-section="Transactions">Spend</li>
    <li class="NavItem" data-section="Budget">Budget</li>
    <li class="NavItem" data-section="Bills">Bills</li>
    <li class="NavItem AppNavAccount" data-section="Account">Account</li>
  </ul>
</div>