<div class="ContentContainer Account">
	<div class="BudgetHeader">
		<div class="ViewLabel">Account</div>
  </div>
  <div class="AccountNavContainer">
  	<div class="AccountNavTitle">Personal Information</div>
  	<button class="ButtonChevronRight">Chevron Right</div>
  </div>
  <div class="AccountNavContainer">
  	<div class="AccountNavTitle">Bank &amp; Card Accounts</div>
  	<button class="ButtonChevronRight">Chevron Right</div>
  </div>
  <div class="AccountNavContainer">
  	<div class="AccountNavTitle">Budget Cycles</div>
  	<div class="AccountCurrentSettings">Monthly (Calendar)</div>
  </div>
  <div class="AccountNavContainer">
  	<div class="AccountNavTitle">Date Format</div>
  	<div class="AccountCurrentSettings">Relative</div>
  </div>
  <div class="AccountNavContainer">
  	<div class="AccountNavTitle">Notifications</div>
  	<div class="AccountCurrentSettings">Off</div>
  </div>
  <div class="AccountNavContainer">
  	<div class="AccountNavTitle">Feedback</div>
  	<button class="ButtonChevronRight">Chevron Right</div>
  </div>

</div>