<div class="ContentContainer Account">
	<div class="SmallFeatureHeader bbg">
		 <div class="FeatureLabel pt3 pl2 pb2 Display2 Black">Account</div>
  </div>
  <ul class="LedgerSet">
  <li class="LedgerItem bbg">
    <div class="LedgerRow">
      <div class="LedgerCell pt1" onclick="location.href='account_personalinfo_details';">Personal Information</div>
    	<div class="LedgerCell pt1 ButtonChevronRight">Chevron Right</div>
    </div>
   </li>
   <li class="LedgerItem bbg">
    <div class="LedgerRow">
      <div class="LedgerCell pt1">Bank &amp; Card Accounts</div>
    	<div class="LedgerCell pt1 ButtonChevronRight">Chevron Right</div>
    </div>
   </li>
   <li class="LedgerItem bbg">
    <div class="LedgerRow">
      <div class="LedgerCell pt1">Budget Cycles</div>
   		<div class="LedgerCell pt1 op50">Monthly (Calendar)</div>
   	 </div>
   </li>
   <li class="LedgerItem bbg">
    <div class="LedgerRow">
      <div class="LedgerCell pt1">Date Format</div>
    	<div class="LedgerCell  pt1op50">Relative</div>
   	</div>
   </li>
   <li class="LedgerItem bbg">
    <div class="LedgerRow">
      <div class="LedgerCell pt1">Notifications</div>
    	<div class="LedgerCell pt1 op50">Off</div>
    </div>
   </li>
   <li class="LedgerItem bbg">
    <div class="LedgerRow">
      <div class="LedgerCell pt1">Feedback</div>
    	<div class="LedgerCell pt1 ButtonChevronRight">Chevron Right</div>
    </div>
   </li>
</ul>
</div>
