<div class="ContentContainer Account">
	<div class="BudgetHeader bbg">
		<div class="ViewLabel op50 pt3 pl2 pb2">Account</div>
  </div>
	<div class="AccountNavContainer bbg" onclick="location.href='account_personalinfo_details';">
		<div class="AccountNavTitle Display2 mt2 ml2">Personal Information</div>
		<button class="ButtonChevronRight mt2 mr2">Chevron Right</button>
	</div>
	<div class="AccountNavContainer bbg">
		<div class="AccountNavTitle Display2 mt2 ml2">Bank &amp; Card Accounts</div>
		<button class="ButtonChevronRight mt2 mr2">Chevron Right</button>
	</div>
	<div class="AccountNavContainer bbg">
		<div class="AccountNavTitle Display2 mt2 ml2">Budget Cycles</div>
		<div class="AccountCurrentSettings op50 mt2 mr2">Monthly (Calendar)</div>
	</div>
	<div class="AccountNavContainer bbg">
		<div class="AccountNavTitle Display2 mt2 ml2">Date Format</div>
		<div class="AccountCurrentSettings op50 mt2 mr2">Relative</div>
	</div>
	<div class="AccountNavContainer bbg">
		<div class="AccountNavTitle Display2 mt2 ml2">Notifications</div>
		<div class="AccountCurrentSettings op50 mt2 mr2">Off</div>
	</div>
	<div class="AccountNavContainer bbg">
		<div class="AccountNavTitle Display2 mt2 ml2">Feedback</div>
		<button class="ButtonChevronRight mt2 mr2">Chevron Right</button>
	</div>
</div>
