<div class="ContentContainer Bills">
  <div class="BillsViewHeader bbg">
    <div class="ViewLabel pt3 pl2 pb2 Display2 Black">Bills</div>
    <div class="ButtonSettingsBills mr2">Settings</div>
  </div>
  <div class="BillsContainer">
	  <h2 class="BillTitle mt2 mb1 ml2">Utilities</h2>
	  <div class="BillAmt ml2">&#36;0</div>
	  <div class="BillDueDate op50">Manual &#8212; Due Yesterday</div>
	  <div class="BillStatus op50 pr2 NotPaid Late">Not Paid</div>
  </div>
  <div class="BillsContainer">
		<h2 class="BillTitle mt2 mb1 ml2">Rent</h2>
	  <div class="BillAmt ml2">&#36;2,0000</div>
	  <div class="BillDueDate op50">Auto &#8212; Due 5/4</div>
	  <div class="BillStatus op50 pr2 NotPaid">Not Paid</div>
  </div>
  <div class="BillsContainer">
		<h2 class="BillTitle mt2 mb1 ml2">Student Loan</h2>
	  <div class="BillAmt ml2">&#36;234</div>
	  <div class="BillDueDate op50">Auto &#8212; Due 5/24</div>
	  <div class="BillStatus op50 pr2 NotPaid">Not Paid</div>
	</div>
  <div class="BillsContainer">
		<h2 class="BillTitle mt2 mb1 ml2">Phone</h2>
	  <div class="BillAmt ml2">&#36;180</div>
	  <div class="BillDueDate op50">Auto &#8212; Due 5/24</div>
	  <div class="BillStatus op50 pr2 NotPaid">Not Paid</div>
	</div>
  <div class="BillsContainer">
		<h2 class="BillTitle mt2 mb1 ml2">Internet</h2>
	  <div class="BillAmt ml2">&#36;57</div>
	  <div class="BillDueDate op50">Auto &#8212; Due 5/26</div>
	  <div class="BillStatus op50 pr2 NotPaid">Not Paid</div>
	</div>
  <div class="BillsContainer">
		<h2 class="BillTitle mt2 mb1 ml2">Auto Payment</h2>
	  <div class="BillAmt ml2">&#36;450</div>
	  <div class="BillDueDate op50">Manual &#8212; Due 5/30</div>
	  <div class="BillStatus op50 pr2 NotPaid">Not Paid</div>
	 </div>
  <div class="BillsContainer">
		<h2 class="BillTitle mt2 mb1 ml2">Student Loan</h2>
	  <div class="BillAmt ml2">&#36;234</div>
	  <div class="BillDueDate op50">Auto &#8212; Due 5/24</div>
	  <div class="BillStatus op50 pr2 NotPaid">Not Paid</div>
	</div>
  <div class="BillsContainer">
		<h2 class="BillTitle mt2 mb1 ml2">Phone</h2>
	  <div class="BillAmt ml2">&#36;180</div>
	  <div class="BillDueDate op50">Auto &#8212; Due 5/24</div>
	  <div class="BillStatus op50 pr2 NotPaid">Not Paid</div>
	</div>
  <div class="BillsContainer">
		<h2 class="BillTitle mt2 mb1 ml2">Internet</h2>
	  <div class="BillAmt ml2">&#36;57</div>
	  <div class="BillDueDate op50">Auto &#8212; Due 5/26</div>
	  <div class="BillStatus op50 pr2 NotPaid">Not Paid</div>
	</div>
  <div class="BillsContainer">
		<h2 class="BillTitle mt2 mb1 ml2">Auto Payment</h2>
	  <div class="BillAmt ml2">&#36;450</div>
	  <div class="BillDueDate op50">Manual &#8212; Due 5/30</div>
	  <div class="BillStatus op50 pr2 NotPaid">Not Paid</div>
	 </div>
</div>