<div class="ContentContainer Bills">
  <div class="SmallFeatureHeader bbg">
    <div class="FeatureLabel pt3 pl2 pb2 Display2 Black">Bills</div>
  </div>
  <ul class="LedgerSet">
  <li class="LedgerItem bbg SnackbarTrigger" data-msg="Sorry, this isn't available yet." data-type="notif">
    <div class="LedgerRow">
      <div class="LedgerCell">Utilities</div>
    </div>
    <div class="LedgerRow">
      <div class="LedgerCell op50">$450</div>
      <div class="LedgerCell op50 LedgerCellCenter">Manual &mdash; Due yesterday</div>
      <div class="LedgerCell RedText">Not Paid</div>
    </div>
  </li>
  <li class="LedgerItem bbg SnackbarTrigger" data-msg="Sorry, this isn't available yet." data-type="notif">
    <div class="LedgerRow">
      <div class="LedgerCell">Rent</div>
    </div>
    <div class="LedgerRow op50">
      <div class="LedgerCell">$2000</div>
      <div class="LedgerCell LedgerCellCenter">Manual &mdash; Due 5/1</div>
      <div class="LedgerCell">Not Paid</div>
    </div>
  </li>
  <li class="LedgerItem bbg SnackbarTrigger" data-msg="Sorry, this isn't available yet." data-type="notif">
    <div class="LedgerRow">
      <div class="LedgerCell">Student Loan</div>
    </div>
    <div class="LedgerRow op50">
      <div class="LedgerCell">$287</div>
      <div class="LedgerCell LedgerCellCenter">Manual &mdash; Due 5/19</div>
      <div class="LedgerCell">Not Paid</div>
    </div>
  </li>
  <li class="LedgerItem bbg SnackbarTrigger" data-msg="Sorry, this isn't available yet." data-type="notif">
    <div class="LedgerRow">
      <div class="LedgerCell">Phone</div>
    </div>
    <div class="LedgerRow op50">
      <div class="LedgerCell">$180</div>
      <div class="LedgerCell LedgerCellCenter">Manual &mdash; Due 5/24</div>
      <div class="LedgerCell">Not Paid</div>
    </div>
  </li>
  <li class="LedgerItem bbg SnackbarTrigger" data-msg="Sorry, this isn't available yet." data-type="notif">
    <div class="LedgerRow">
      <div class="LedgerCell">Internet</div>
    </div>
    <div class="LedgerRow op50">
      <div class="LedgerCell">$57</div>
      <div class="LedgerCell LedgerCellCenter">Manual &mdash; Due 5/25</div>
      <div class="LedgerCell">Not Paid</div>
    </div>
  </li>
  </ul>
</div>
