<div class="ContentContainer Budget">
	<div class="bbg">
		<div class="ViewLabel op50 pt3 pl2 pb2">Budgets</div>
		<div class="ButtonSort">Sort</div>
    <div class="ButtonSettings">Settings</div>
  	<div class="BudgetHeaderProgBarContainer">
  		<span class="BudgetHeaderProgBar"></span>
      <div class="ProgBarMarker Op50"></div>
  	</div>
  </div>
  <div class="BudgetDaysLeft CallToAction op50">20 days left</div>
  <div class="BudgetTotal">&#36;3250</div>
  <div class="BudgetContainer bbg">
    <h2 class="BudgetTitle Display2">Coffee</h2>
    <p class="CTA BudgetProgressAmt">&#36;40 of &#36;150</p>
    <div class="ProgBarContainer">
      <span class="Progress"></span>
    </div>
  </div>
  <div class="BudgetContainer bbg">
    <h2 class="BudgetTitle Display2">Groceries</h2>
    <p class="CTA BudgetProgressAmt">&#36;850 of &#36;900</p>
    <div class="ProgBarContainer">
      <span class="DangerZone"></span>
    </div>
  </div>
  <div class="BudgetContainer bbg">
    <h2 class="BudgetTitle Display2">Movies</h2>
    <p class="CTA BudgetProgressAmt">&#36;45 of &#36;45</p>
    <div class="ProgBarContainer">
      <span class="Progress"></span>
    </div>
  </div>
  <div class="BudgetContainer bbg">
    <h2 class="BudgetTitle Display2">Restaurants</h2>
    <p class="CTA BudgetProgressAmt">&#36;0 of &#36;300</p>
    <div class="ProgBarContainer">
      <span></span>
    </div>
  </div>
  <div class="BudgetContainer bbg OverBudgetContainer">
    <h2 class="BudgetTitle Display2 OverBudgetTitle Display2">Games</h2>
    <p class="CTA BudgetProgressAmt OverBudgetAmt"><span class="op50">&#36;180 of &#36;150 &#8212;</span> &#36;30 over</p>
    <div class="ProgBarContainer">
      <span class="OverBudgetBar"></span>
    </div>
  </div>
  <div class="BudgetContainer bbg">
    <h2 class="BudgetTitle Display2">Groceries</h2>
    <p class="CTA BudgetProgressAmt">&#36;850 of &#36;900</p>
    <div class="ProgBarContainer">
      <span class="DangerZone"></span>
    </div>
  </div>
  <div class="BudgetContainer bbg">
    <h2 class="BudgetTitle Display2">Movies</h2>
    <p class="CTA BudgetProgressAmt">&#36;45 of &#36;45</p>
    <div class="ProgBarContainer">
      <span class="Progress"></span>
    </div>
  </div>
  <div class="BudgetContainer bbg">
    <h2 class="BudgetTitle Display2">Restaurants</h2>
    <p class="CTA BudgetProgressAmt">&#36;0 of &#36;300</p>
    <div class="ProgBarContainer">
      <span class="Progress"></span>
    </div>
  </div>
  <div class="BudgetContainer bbg OverBudgetContainer bbg">
    <h2 class="BudgetTitle Display2">Games</h2>
    <p class="CTA BudgetProgressAmt">&#36;180 of &#36;150</p>
    <div class="ProgBarContainer">
      <span class="OverBudgetBar"></span>
    </div>
  </div>
  <div class="BudgetContainer bbg">
    <h2 class="BudgetTitle Display2">Coffee</h2>
    <p class="CTA BudgetProgressAmt">&#36;40 of &#36;150</p>
    <div class="ProgBarContainer">
      <span class="Progress"></span>
    </div>
  </div>
</div>
