<div class="ContentContainer Budget">
	<div class="BudgetHeader">
		<div class="ViewLabel">Budgets</div>
		<div class="ButtonBudgetSort">Sort</div>
    <div class="ButtonBudgetSettings">Settings</div>
    	<div class="BudgetHeaderProgBarContainer">
    		<span class="BudgetHeaderProgBar"></span>
        <div class="ProgBarMarker"></div>
    	</div>
    </div>
    <div class="BudgetDaysLeft CallToAction">20 days left</div>
    <div class="BudgetTotal">&#36;3250</div>
   </div>
</div>
