<div class="ContentContainer Budget">
	<div class="ViewHeader bbg">
		  <div class="ViewLabel pt3 pl2 pb2 Display2 Black">Budgets</div>
    <div class="ButtonSettings" onclick="location.href='budget_edit';">Settings</div>
  	<div class="BudgetHeaderProgBarContainer">
  		<span class="BudgetHeaderProgBar"></span>
      <div class="ProgBarMarker Op50"></div>
  	</div>
    <div class="BudgetTotal">&#36;267 of &#36;900</div>
    <div class="BudgetDaysLeft op50">10 days down, 20 to go.</div>
  </div>
    <div class="BudgetContainer bbg" onclick="location.href='budget_detail';">
    <h2 class="BudgetTitle mt2 ml2">Coffee</h2>
    <p class="CTA BudgetProgressAmt mt2 mr2">&#36;40 of &#36;150</p> 
    <div class="ProgBarContainer">
      <span class="Progress"></span>
    </div>
  </div>
  <div class="BudgetContainer bbg" onclick="location.href='budget_detail';">
    <h2 class="BudgetTitle mt2 ml2">Groceries</h2>
    <p class="CTA BudgetProgressAmt mt2 mr2">&#36;850 of &#36;900</p>
    <div class="ProgBarContainer">
      <span class="DangerZone"></span>
    </div>
  </div>
  <div class="BudgetContainer bbg" onclick="location.href='budget_detail';">
    <h2 class="BudgetTitle mt2 ml2">Movies</h2>
    <p class="CTA BudgetProgressAmt mt2 mr2">&#36;45 of &#36;45</p>
    <div class="ProgBarContainer">
      <span class="Progress"></span>
    </div>
  </div>
  <div class="BudgetContainer bbg" onclick="location.href='budget_detail';">
    <h2 class="BudgetTitle mt2 ml2">Restaurants</h2>
    <p class="CTA BudgetProgressAmt mt2 mr2">&#36;0 of &#36;300</p>
    <div class="ProgBarContainer">
      <span></span>
    </div>
  </div>
  <div class="BudgetContainer bbg" onclick="location.href='budget_detail';">
    <h2 class="BudgetTitle mt2 ml2 ">Games</h2>
    <p class="CTA BudgetProgressAmt mt2 mr2">&#36;180 of &#36;150</p>
    <div class="OverBudgetBarContainer">
      <span class="OverBudgetBar"></span>
    </div>
  </div>
  <div class="BudgetContainer bbg" onclick="location.href='budget_detail';">
    <h2 class="BudgetTitle mt2 ml2 ">Groceries</h2>
    <p class="CTA BudgetProgressAmt mt2 mr2">&#36;850 of &#36;900</p>
    <div class="ProgBarContainer">
      <span class="DangerZone"></span>
    </div>
  </div>
  <div class="BudgetContainer bbg" onclick="location.href='budget_detail';">
    <h2 class="BudgetTitle mt2 ml2 ">Movies</h2>
    <p class="CTA BudgetProgressAmt mt2 mr2">&#36;45 of &#36;45</p>
    <div class="ProgBarContainer">
      <span class="Progress"></span>
    </div>
  </div>
  <div class="BudgetContainer bbg" onclick="location.href='budget_detail';">
    <h2 class="BudgetTitle mt2 ml2 ">Restaurants</h2>
    <p class="CTA BudgetProgressAmt mt2 mr2">&#36;0 of &#36;300</p>
    <div class="ProgBarContainer">
      <span class="Progress"></span>
    </div>
  </div>
  <div class="BudgetContainer bbg" onclick="location.href='budget_detail';">
    <h2 class="BudgetTitle mt2 ml2">Games</h2>
    <p class="CTA BudgetProgressAmt mt2 mr2">&#36;180 of &#36;150</p>
    <div class="OverBudgetBarContainer">
      <span class="OverBudgetBar"></span>
    </div>
  </div>

  <div class="BudgetContainer bbg" onclick="location.href='budget_detail';">
    <h2 class="BudgetTitle mt2 ml2">Coffee</h2>
    <p class="CTA BudgetProgressAmt mt2 mr2">&#36;40 of &#36;150</p>
    <div class="ProgBarContainer">
      <span class="Progress"></span>
    </div>
  </div>
</div>
