<div class="ContentContainer Budget">
	<div class="FeatureHeader bbg">
		<div class="FeatureLabel pt3 pl2 pb2 Display2 Black">Budgets</div>
  	<div class="BudgetHeaderProgBarContainer">
  		<span class="BudgetHeaderProgBar" id="BudgetHeaderProgBar"></span>
      <!-- <div class="ProgBarMarker op50"></div> -->
  	</div>
    <div class="BudgetTotal" id="BudgetTrackerText"></div>
    <div class="BudgetDaysLeft op50">21 days down, 9 to go.</div>
  </div>
  <ul class="LedgerSet" id="BudgetsList">
  </ul>
</div>
