<div class="ContentContainer Budget">
	<div class="FeatureHeader bbg">
		<div class="FeatureLabel pt3 pl2 pb2 Display2 Black">Budgets</div>
    <div class="ButtonSettings" onclick="location.href='budget_edit';">Settings</div>
  	<div class="BudgetHeaderProgBarContainer">
  		<span class="BudgetHeaderProgBar"></span>
      <div class="ProgBarMarker op50"></div>
  	</div>
    <div class="BudgetTotal">&#36;267 of &#36;900</div>
    <div class="BudgetDaysLeft op50">10 days down, 20 to go.</div>
  </div>
  <ul class="LedgerSet" id="BudgetList">
    <li class="LedgerItem bbg" >
      <div class="LedgerRow">
        <div class="LedgerCell">Coffee</div>
        <div class="LedgerCell">&#36;40 of &#36;150</div>
      </div>
      <div class="LedgerRow">
        <div class="LedgerCell ProgBarContainer">
        <span class="Progress"></span>
        </div>
      </div>
    </li>
  </ul>
</div>
