<div class="ContentContainer Home">
	<div class="YourStatus">
		<!-- <div class="Caption YourStatusTitle mt4 mr4 mb4 ml4">
			Your Status
		</div> -->
		<div class="Display2 Black mt5 mr4 mb4 ml3">You’re doing great! Go enjoy a movie but be careful, only $10 left for Coffee.</div>
	</div>
	<div class="YourMoney">
		<div class="YourMoneySection Earned">
			<div class="Caption mt2 mb1 ml3 op50">You've Earned</div>
			<div class="Display2 Black mb2 ml3">&#36;0</div>
		</div>
		<div class="YourMoneySection WillEarn">
			<div class="Caption mt2 mb1 ml3 op50">You'll Earn</div>
			<div class="Display2 Black mb2 ml3">&#36;4512</div>
		</div>
		<div class="ClearFloat"></div>
		<div class="YourMoneySection Spent">
			<div class="Caption mt2 mb1 ml3 op50">You've Spent</div>
			<div class="Display2 Black mb2 ml3">&#36;98</div>
		</div>
		<div class="YourMoneySection RemainingBudget">
			<div class="Caption mt2 mb1 ml3 op50">Remaining Budget</div>
			<div class="Display2 Black mb2 ml3">&#36;2456</div>
		</div>
		<div class="ClearFloat"></div>
		<div class="WhatsLeft">
			<div class="Caption mt4 ml3 op50">What's Left</div>
			<div class="Display2 Black mb3 ml3">&#36;837</div>
		</div>
	</div>
</div>