<div class="ContentContainer Home">
	<!-- <div class="YourStatus"> -->
		<div class="Display2 Black mt5 mr4 mb4 ml3">You’re doing great! Go enjoy a movie but be careful, only $20 left for Coffee.</div>
<!-- 	</div> -->
	<div class="YourMoney">
		<div class="YourMoneySection ml3 Earned bbg">
			<div class="YourMoneySectionTitle mt2 mb1 op50">You've Earned</div>
			<div class="YourMoneySectionAmt Black mb2">&#36;0</div>
		</div>
		<div class="YourMoneySection mr3 bbg">
			<div class="YourMoneySectionTitle mt2 mb1 ml3 op50">You'll Earn</div>
			<div class="YourMoneySectionAmt Black mb2 ml3">&#36;4512</div>
		</div>
		<div class="ClearFloat"></div>
		<div class="YourMoneySection ml3 Spent bbg">
			<div class="YourMoneySectionTitle mt2 mb1 op50">You've Spent</div>
			<div class="YourMoneySectionAmt Black mb2">&#36;98</div>
		</div>
		<div class="YourMoneySection mr3 RemainingBudget bbg">
			<div class="YourMoneySectionTitle mt2 mb1 ml3 op50">Remaining Budget</div>
			<div class="YourMoneySectionAmt Black mb2 ml3">&#36;2456</div>
		</div>
		<div class="ClearFloat"></div>
		<div class="WhatsLeft">
			<div class="YourMoneySectionTitle WhatsLeftTitle mt4 ml3 op50">What's Left</div>
			<div class="YourMoneySectionAmt Black mb3 ml3">&#36;837</div>
		</div>
	</div>
	<div class="ColorLine"></div>
</div>
