<div class="ContentContainer Home">
	<!-- <div class="YourStatus"> -->
		<div class="Display2 Black mt7 mr2 mb4 ml2">Woah, buddy. You're riding close to the line. You're spending a lot on Groceries.</div>
<!-- 	</div> -->
	<div class="YourMoney">
		<div class="YourMoneySection ml2 Earned bbg">
			<div class="YourMoneySectionTitle mt2 mb1 op50">You've Earned</div>
			<div class="YourMoneySectionAmt Black mb2">&#36;1,210</div>
		</div>
		<div class="YourMoneySection mr3 bbg">
			<div class="YourMoneySectionTitle mt2 mb1 ml4 op50">You'll Earn</div>
			<div class="YourMoneySectionAmt Black mb2 ml4">&#36;1,209</div>
		</div>
		<div class="ClearFloat"></div>
		<div class="YourMoneySection ml2 Spent bbg">
			<div class="YourMoneySectionTitle mt2 mb1 op50">You've Spent</div>
			<div class="YourMoneySectionAmt Black mb2" id="YouveSpent">&#36;0</div>
		</div>
		<div class="YourMoneySection mr3 RemainingBudget bbg">
			<div class="YourMoneySectionTitle mt2 mb1 ml4 op50">Remaining Budget</div>
			<div class="YourMoneySectionAmt Black mb2 ml4" id="RemainingBudget">&#36;</div>
		</div>
		<div class="ClearFloat"></div>
		<div class="WhatsLeft">
			<div class="YourMoneySectionTitle WhatsLeftTitle mt4 ml2 op50">What's Left</div>
			<div class="YourMoneySectionAmt WhatsLeftAmt Black mb3 ml4" id="WhatsLeft">&#36;</div>
		</div>
	</div>
	<div class="ColorLine"></div>
</div>
