<div class="ContentContainer Transactions">
  <div class="FeatureHeader bbg">
    <div class="FeatureLabel pt3 pl2 pb2 Display2 Black">Spend</div>
    <div class="ButtonSettings">Settings</div>
    <div class="ButtonSearch">Search</div>
    <div class="BankInfo pl2">
      <div>Wells Fargo</div>
      <div class="BankAccountName op50">Checking Account (#2981)</div>
      <div class="BankInfoAmt">&#36;4,212.28</div>
    </div>
  </div>
 <ul class="LedgerSet">
  <% for(var i=0; i<100; i++) {%>
    <li class="LedgerItem bbg" onclick="location.href='transaction_detail';">
    <% if(transactions[i].category) { %>
      <div class="LedgerCell op50"><%= transactions[i].category[0] %></div>
      <% } else { %>
        <div class="LedgerCell Unlabeled RedText">Unlabeled</div>
      <% } %>
      <div class="LedgerRow FontSizeSm">
        <div class="LedgerCell">
          <% if(transactions[i].name.length > 30) { %>
          <div>
          <% var string = transactions[i].name;
          var trimmedString = string.substring(0, 10) + "...";%>
          <%= trimmedString %> 
        </div>
        <% } else { %>
        <div><%= transactions[i].name %></div>
        <% } %>
      </div>
      <div class="LedgerCell">
        <%= transactions[i].amount.toFixed(2) %>
      </div>
      <% } %>
    </li>
  </ul>
</div>