<div class="ContentContainer Transactions">
  <div class="ViewHeader">
    <div class="ViewLabel op50 pt3 pl2 pb2">Spend</div>
    <div class="ViewSettings">Settings</div>
    <div class="BankInfo pl2">
      <div class="op50">Wells Fargo</div>
      <div class="BankAccountName">Premium Checking Account (#XXXX)</div>
      <div class="BankSearch">Search</div>
    </div>
  </div>
  <div class="TransactionContainer">
  <% for(var i=0; i<100; i++) {%>
  <div class="TransactionSingle" onclick="location.href='transaction_detail';">
    <div class="TransactionCategory pt2 pl2">
    <% if(transactions[i].category) { %>
        <div><%= transactions[i].category[0] %></div>
      <% } else { %>
         <div class="Unlabeled">Unlabeled</div>
      <% } %>
    </div>
    <div class="TransactionVendor">
      <% if(transactions[i].name.length > 30) { %>
        <div> 
        <% var string = transactions[i].name;
        var trimmedString = string.substring(0, 30) + "...";%>
        <%= trimmedString %> 
        </div>
      <% } else { %>
        <div><%= transactions[i].name %></div>
      <% } %>
    </div>
    <div class="TransactionAmount">
      <%= transactions[i].amount.toFixed(2) %>
    </div>
  </div>
  <% } %>
</div>
</div>
