<div class="ContentContainer Transactions">
  <div class="FeatureHeader bbg">
    <div class="FeatureLabel pt3 pl2 pb2 Display2 Black">Spend</div>
    <div class="BankInfo pl2">
      <div>Wells Fargo</div>
      <div class="BankAccountName op50">Checking Account (#2981)</div>
      <div class="BankInfoAmt">&#36;4,212.28</div>
    </div>
  </div>
 <ul class="LedgerSet Unselectable" id="TransactionsList">
  <!-- build list in main.js -->
  </ul>
</div>
