.ButtonClose {
  background: url("_img/_icon/dark/close.svg") no-repeat;
  background-size: 100%
  height: 24px;
  width: 24px;
  position: absolute;
  right: 1rem;
  text-indent: -9999px;
  pointer: cursor;
  top: 1rem;
 }
 
 // SMOOTH FORM STYLINGS 

.FormPersInfo {
	position: relative;
	top: -3rem;
}
.FormLabel {
	margin: 1.5rem 0 1rem 0;
	position: relative;
	top: 1rem;
	display: block;
	font-size: .9rem;
}
.FormInput {
	display: block;
 	outline: 1px solid black;
 	position: relative;
 	top: 1rem;
}
.FormDropdown {
	height: 2.8rem;
	width: 100%;
	background: url("_img/_icon/dark/arrow_drop_down.svg") no-repeat right;
	border: none;
}

.FormSubmit {
	position: fixed;
	top: 80vh;
	right: 5vw;
}