.FeatureLabel.NoNav {
	height: 14.3rem;
	top:4.3rem;
}
.PersInfo {
	height: 6rem;
	width: 40%;
	display: inline-block;
}
.PersInfo p {
	line-height: 100%
}
.FrapEdit {
	background-color: red;
  background-image:
    linear-gradient(
      to right, 
      #FF6100, 
      #FF000D, 
      #500072
    );
	color: white;
	position: fixed;
	bottom: 15vh;
	right: 5vw;
}