
.SmallFeatureHeader {
	height: 9rem;
}
.LgFeatureHeader {
  height: 19rem;
}
.ButtonSettingsBills {
	background: url("_img/_icon/dark/gear.svg") no-repeat;
  height: 24px;
  width: 24px;
  position: relative;
  top: -.7rem;
  left: 90%;
  text-indent: -9999px;
}
