.ClearFloat{
	clear: both;
}
.YourMoneySectionTitle {
	font-size: .9rem
}
.YourMoneySection {
	width: 42%;
	float: left;
}
.Earned {
	border-right: solid 1px #f2f2f2;
}
.Spent {
	border-right: solid 1px #f2f2f2;
}
.WhatsLeft {
	width: 100%;
}
.WhatsLeft {
	position: relative;
	top: -28px;
	left: 50%;
	// avoids the horizontal scroll in mobile safari
	display: inline;
}
.WhatsLeftTitle {
	position: relative;
	right: 50%;
	top: 2rem;
}
.WhatsLeftAmt {
  position: relative;
  right: .9rem;
}
.YourMoneySectionAmt {
	font-size: 2rem;
	font-family: 'CircularStdBold', sans-serif;
}
.ColorLine {
	background-color: red;
  background-image:
    linear-gradient(
      to right,
      #FF6100,
      #FF000D,
      #500072
    );
  height: 6px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
