.Icon {
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
}
.IconHeartLight {
	background-image: url("_img/_icon/light/heart.svg")
}
.IconHeartDark {
	background-image: url("_img/_icon/dark/heart.svg")
}
.IconPlusLight {
	background-image: url("_img/_icon/light/plus.svg")
}
.IconPlusDark {
	background-image: url("_img/_icon/dark/plus.svg")
}
.IconArrowDropDownLight {
	background-image: url("_img/_icon/light/arrow_drop_down.svg")
}
.IconArrowDropDownDark {
	background-image: url("_img/_icon/dark/arrow_drop_down.svg")
}
.IconChevronLeftLight {
	background-image: url("_img/_icon/light/chevron_left.svg")
}
.IconChevronLeftDark {
	background-image: url("_img/_icon/dark/chevron_left.svg")
}
.IconGearLight {
	background-image: url("_img/_icon/light/gear.svg")
}
.IconGearDark {
	background-image: url("_img/_icon/dark/gear.svg")
}
.IconPersonLight {
	background-image: url("_img/_icon/light/person.svg")
}
.IconPersonDark {
	background-image: url("_img/_icon/dark/person.svg")
}
.IconPlaceLight {
	background-image: url("_img/_icon/light/place.svg")
}
.IconPlaceDark {
	background-image: url("_img/_icon/dark/place.svg")
}
.IconSearchLight {
	background-image: url("_img/_icon/light/search.svg")
}
.IconSearchDark {
	background-image: url("_img/_icon/dark/search.svg")
}
.IconStarLight {
	background-image: url("_img/_icon/light/star.svg")
}
.IconStarDark {
	background-image: url("_img/_icon/dark/star.svg")
}