body {
	padding: 0;
}

// LOG IN PAGE


.LogInContainer {
	background: red;
	height: 100vh;
	width: 100vw;
	position: relative;
	top: -5px;
	background-image:
    linear-gradient(
      160deg, 
      #FF6100, 
      #FF000D, 
      #500072
    ); 
}
.LogInGreetingContainer {
	height: 20%;
	position: relative;
	top: 25vh;
	text-align: center;
	padding: 1rem;
}
.LogInGreeting {
	color: white;
	font-size: 2.7rem;
	font-family: 'CircularStdBlack', san-serif;
	line-height: 125%;
	padding: 0;
	margin: 0;
	text-align: center;
}
.ButtonLogIn, .ButtonSignUp {
	display: block;
	-webkit-appearance: none;
	border: none;
	outline: none;
	background: transparent;
}
.ButtonLogin {
	position: relative;
	top: 35%;
}
.ButtonSignUp {
	position: relative;
	top: 38%;
}
.SignUpCTA {
	font-size: .7rem;
	height: 7%;
	width: 60%;
	position: relative;
	top: 33%;
	text-align: center;
	margin: 0 auto;
	color: white;
}
.LogInDividerContainer {
	height: 1px;
	position: relative;
	top: 35%;
	opacity: .5;
}
.LogInDivider {
	border-bottom: 1px solid white;
	margin: 0 auto;
	height: 1px;
	width: 60%
}
.LogInCTA {
	font-size: .7rem;
	height: 7%;
	margin: 0 auto;
	position: relative;
	top: 37%;
	text-align: center;
	color: white;
}
.LogInAboutCasey {
	font-size: .9rem;
	text-align: center;
	position: relative;
	top: 58%;
}

.LogInAboutCasey a {
	color: #fff;
	opacity: .5;
}

//LOGIN FORM

.LogInFormContainer {
	position: relative;
	top: 40%;
}
.LogInForm {
	background: gray;
	margin: 0 auto;
	position: relative;
	width: 90%;
}
// input[type=text], input[type=password] { 
// 	height: 2.8rem;
// 	width: 100%;	 
// 	font-size: .9rem;
// }
// input[type=text] {
// 	border: 0;
// 	border-bottom: 1px solid #ccc;
// }
// input:focus {
// 	outline: none;
// }
.InputPadding {
	padding: 1rem;
}
.PasswordHelp {
	position: relative;
	top: 42%;
	height: 2rem;
	text-align: center;
}
.PasswordHelp a {
	color: white;
	font-size: .85rem;
}
.ButtonShowPassword {
	background: url("_img/_icon/dark/eye.svg") no-repeat;
  background-position: center center
  background-size: 100%;
  border: none;
  cursor: pointer;
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  text-indent: -99999px;
  opacity: .1;
  position: absolute;
  top: 64%;
  right: 10%;
  z-index: 9;
}









