.ButtonClose {
  background: url("_img/_icon/dark/close.svg") no-repeat;
  background-size: 100%
  height: 24px;
  width: 24px;
  position: absolute;
  right: 1rem;
  text-indent: -9999px;
  pointer: cursor;
  top: 1rem;
 }
 
 // SMOOTH FORM STYLINGS 

.FormPersInfo {
	position: relative;
	top: -3rem;
}
.FormLabel {
	margin: 1.5rem 0 1rem 0;
	position: relative;
	top: 1rem;
	display: block;
	font-size: .9rem;
}
.FormInput {
	display: block;
 	outline: 1px solid black;
 	position: relative;
 	top: 1rem;
}
.FormDropdown {
	height: 2.8rem;
	width: 100%;
	background: url("_img/_icon/dark/arrow_drop_down.svg") no-repeat right;
	border: none;
}
.frap {
	height: 50px;
	width: 140px;
	outline: none;
	text-align: center;
	border-radius: 100px;
	border: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  font-size: 1.2rem;
}
.FrapSave {
	background-color: red;
  background-image:
    linear-gradient(
      to right, 
      #FF6100, 
      #FF000D, 
      #500072
    );
	z-index: 99;
	color: white;
	position: fixed;
	bottom: 15vh;
	right: 5vw;
}
.FormSubmit {
	position: fixed;
	top: 80vh;
	right: 5vw;
}