.ButtonChevronRight {
	background: url('_img/_icon/dark/chevron_right.svg') no-repeat;
	background-position: center center;
	background-size: 50%;
	border: none;
	height: 1rem;
	width: 1rem;
	text-indent: -9999px;
}