.ButtonChevronRight {
	background: url('_img/_icon/dark/chevron_right.svg') no-repeat;
	background-position: center center;
	background-size: 50%;
	border: none;
	float: right;
	height: 1rem;
	width: 1rem;
	position: relative;
	top: .6rem;
	text-indent: -9999px;
}
.AccountCurrentSettings {
	position: relative;
	top: .6rem;
}