html
  min-height 100%
*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  box-sizing border-box
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  background: white;
  padding-bottom: 10vw;
  font-family: typeface-body
}
.Unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hidden
	display none
	opacity 0

.StylesContainer {
  padding: 50px;
  background-color: color-creme;
}
.ContentContainer {
  top: 50px;
  position: absolute;
  background: white;
  width: 100%;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.ContentContainer.Active {
  z-index: 800;
}
.Snackbar {
  width: 100%;
  max-width: 400px;
  height: 60px;
  position: fixed;
  background-image: linear-gradient(101deg, #ff6100, #ff000d 47%, #500072);
  background-color: black;
  bottom: 0;
  left: 0;
  z-index: 9999;
  transform: translateY(60px);
  transition: all 200ms ease-out;
}
.Snackbar span {
  padding: 20px 16px;
  display: block;
  color: white;
}
.Snackbar.Active {
  transform: translateY(0px);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
}
.Snackbar.TypeNotif {
  background-image: linear-gradient(101deg, #ff6100, #ff000d 47%, #500072);
  background-color: black;
}
.Snackbar.TypeConf {
  background-image: none;
  background-color: color-greenbright;
}
.Snackbar.TypeError {
  background-image: none;
  background-color: color-red;
}
