
.SmallFeatureHeader {
	height: 9rem;
}
.ButtonSettingsBills {
	background: url("_img/_icon/dark/gear.svg") no-repeat;
  height: 24px;
  width: 24px;
  position: relative;
  top: -.7rem;
  left: 90%;
  text-indent: -9999px;
}
.LedgerSet {
  margin: 0 auto;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}
.LedgerItem {
  padding: 15px;
}
.LedgerRow {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}
.LedgerCell {
  font-size: .9rem;
  text-align: center;
}
.LedgerRow:nth-child(1) {
  margin-bottom: 10px;
  width: 6rem;
}
.LedgerRow:nth-child(2) {
  margin-right: auto;
}
.RedText {
	opacity: 1;
	color: red;
}
.LedgerCellCenter {
  position: absolute;
  left: 30%
}