.BillsHeader {
	height: 3.8rem;
	border-bottom: 1px solid #f2f2f2; 
}

.BillsContainer {
	height: 4.4rem;
	border-bottom: 1px solid #f2f2f2; 
}

.BillTitle{
	color: black;
	font-size: 1.7rem;
}
	
.BillAmt {
	display: inline-block;
	font-family: 'Inconsolata', courier;
	width: 30%;
}
	
.BillDueDate {
	display: inline-block;
	font-size: .9rem;
	position: relative;
}
	
.BillStatus {
	display: inline-block;
	float: right;
	font-size: .9rem;
}