
.SmallFeatureHeader {
	height: 9rem;
}

.ButtonSettingsBills {
	background: url("_img/_icon/dark/gear.svg") no-repeat;
  height: 24px;
  width: 24px;
  position: relative;
  top: -.7rem;
  left: 90%;
  text-indent: -9999px;
}
// .BillsContainer {
// 	height: 4.4rem;
// 	border-bottom: 1px solid #f2f2f2; 
// }

.LedgerSet {
  margin: 0 auto;
  background: white;
  max-width: 375px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}
.LedgerItem {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}
.LedgerRow {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  max-width: 375px;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  // background: tomato;
}
.LedgerCell {
  font-size: 15px;
  text-align: center;
}
.LedgerRow:nth-child(1) {
  margin-bottom: 10px;
}


// .ItemLeftTop {
// 	font-size: .9rem;
// }
	
// .ItemLeftBtm {
// 	display: inline-block;
// 	width: 30%;
// }
	
// .ItemCenter {
// 	display: inline-block;
// 	font-size: .9rem;
// 	position: relative;
// }

// Brings .ItemRight down .2rem when display: inline-block

// .InlineBlock {
// 	position: relative;
// 	top: .2rem;
// }

// .RedText {
// 	opacity: 1;
// 	color: red;
// }