// BUDGET HEADER

.BudgetHeader {
  border-bottom: 1px solid #f2f2f2; 
}

.BudgetHeaderProgBarContainer {
	background: #f2f2f2;
  height: 6px;
 	margin: 0 1rem;
 	position: relative;
 	top: -7vh;
}

.BudgetHeaderProgBar {
	background-image: linear-gradient(to right, #a7cc74, #00f48e);
  display: block;
  height: 100%;
  width: 45%; 
}

.ProgBarMarker {
  height: 24px;
  width: 1px;
  background: black;
  position: absolute;
  left: 20%;
  margin-top: -15px;
  opacity: .5;
}

.ButtonBudgetSort {
	background: url("_img/_icon/dark/sort.svg") no-repeat;
	height: 24px;
	width: 24px;
	position: relative;
	top: -6vh;
	left: 81vw;
	text-indent: -9999px;
}

.ButtonBudgetSettings {
  background: url("_img/_icon/dark/gear.svg") no-repeat;
  height: 24px;
  width: 24px;
  position: relative;
  top: -9.5vh;
  left: 89vw;
  text-indent: -9999px;
 }
 
.BudgetDaysLeft {
  margin: -2rem 0 0 1rem;
  float: left;
  opacity: .5;
}

.BudgetTotal {
  font-size: 1rem;
  margin: -2rem 1rem 0 0;
  float: right;
  font-family: 'Inconsolata', courier;
  
}


// BUDGETS

.BudgetContainer {
  position: relative;
	border-bottom: 1px solid #f2f2f2;
  height: 5rem; 
}

.BudgetTitle {
  float: left;
  margin: 1rem 0 0 1rem;
  color: black;
  font-size: 1.7rem;
}

.BudgetProgressAmt {
  font-family: 'Inconsolata', courier;
  float: right;
  margin: 1rem 1rem 0 0;
  font-size: 1rem;
}

.ProgBarContainer {
  background: #f2f2f2;
  height: 6px;
  width: 92%;
  margin: 0 auto;
  position: relative;
  top: 3.5rem;
}

.Progress {
  background-image: linear-gradient(to right, #a7cc74, #00f48e);
  display: block;
  height: 100%;
  width: 45%; 
}

.DangerZone {
  display: block;
  background-image: linear-gradient(to right, #ea1515, #d48c8a);
  height: 100%
  width: 90%
}

.OverBudgetBar {
  display: block;
  background-image: linear-gradient(to right, #ea1515, #d48c8a);
  height: 100%;
  width: 100%;
}

.OverBudgetContainer {
  background: #ffe2e6;
}

.OverBudgetTitle {
  color: red;
}

.OverBudgetAmt {
  float: right;
  margin: 1rem 1rem 0 0;
  font-weight: bold;
  color: red;
  font-size: 1rem;
}

.OverBudgetProgressAmt {
  opacity: .5;
}