form {
  // nothing
}
input[type=text]  {
  border: none;
  margin-left: -3px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  transition: all 200ms ease-out
}
input[type=text]:focus { 
  border-color: color-greenbright;
  outline: none;
  padding-bottom: 10px;
}