.YourStatus {
	background: #00f48e;
	width: 100%;
	height: 18.5rem;
}

.YourStatusTitle {
	color: black;
	opacity: .5;
	position: relative;
	top: 5rem;
	left: 1rem;
	font-size: .7rem;
}

.YourStatusAnnouncement {
	position: relative;
	top: 6.5rem;
	left: 1rem;
}

.YourStatusAnnouncement p {
	color: white;
	font-size: 1.7rem;
	line-height: 140%;
	font-weight: bold;
	padding-right: 1rem;
}

.YourMoney {
	width: 100%;
}

.YourMoneySection {
	height: 7.5rem;
	width: 50%;
}

.YourMoneyEarned {
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc
	position: relative;
	top: .19rem;
}

.YourMoneyWillEarn {
	border-bottom: solid 1px #ccc;
	position: relative;
	top: -7rem;
	left: 11.8rem;
}

.YourMoneySpent {
	border-right: solid 1px #ccc;
	position: relative;
	top: -6.7rem;
}

.YourMoneyRemainingBudget {
	position: relative;
	top: -14rem;
	left: 11.8rem;
}

.YourMoneyLeft {
	width: 100%;
	border-top: 1px solid #ccc;
	position: relative;
	top: -14rem;
}

.YourMoneyAmount {
	font-size: 1.7rem;
	font-weight: bold;
	padding: 0 1rem;
	color: #00f48e;
}

.YourMoneySectionTitle {
	font-size: .7rem;
	opacity: .5;
	padding: 1rem;
}

.YourMoneyLeftAmount {
	width: 50%;
	position: relative;
	top: -16.3rem;
	left: 11.8rem;
}
