// STATUS SECTION

.YourStatus {
	background: #00f48e;
	width: 100%;
	height: 80%;
}

.YourStatusTitle {
	color: black;
	opacity: .5;
	position: relative;
	top: 5rem;
	left: 1rem;
	font-size: .7rem;
}

.YourStatusAnnouncement {
	position: relative;
	top: 6.5rem;
	left: 1rem;
}

.YourStatusAnnouncement p {
	color: white;
	font-size: 1.7rem;
	line-height: 140%;
	font-weight: bold;
	padding-right: 1rem;
}

// YOUR MONEY OVERVIEW

.ContentContainer {
	height: 90vw;
}

.ClearFloat{
	clear: both;
}

.YourMoney {
	height: 100%;
	width: 100%;
}

.YourMoneySection {
	height: 35%;
	width: 50%;
	float: left;
}

.Earned {
	background: blue;
}

.WillEarn {
	background: green;
}

.Spent {
	background: yellow;
}

.RemainingBudget {
	background: red;
}

.WhatsLeft {
	background: gray;
	width: 100%;
	height: 20%;
}