// STATUS SECTION

.YourStatus {
	background: #00f48e;
	width: 100%;
	height: 45vh;
}

.YourStatusTitle {
	color: black;
	opacity: .5;
	position: relative;
	top: 11vh;
	left: 1rem;
	font-size: .7rem;
}

.YourStatusAnnouncement {
	position: relative;
	top: 16vh;
	left: 1rem;
}

.YourStatusAnnouncement p {
	color: white;
	font-size: 8vw;
	line-height: 130%;
	font-weight: bold;
	padding-right: 2rem;
}

// YOUR MONEY OVERVIEW

.ContentContainer {
	height: 92vh;
}

.ClearFloat{
	clear: both;
}

.YourMoney {
	width: 100%;
}

.YourMoneySection {
	height: 18vh;
	width: 46%;
	float: left;
}

.YourMoneyTitleColA {
	font-size: .7rem;
	opacity: .5;
	position: relative;
	top: 4vh;
}

.YourMoneyTitleColB {
	font-size: .7rem;
	opacity: .5;
	position: relative;
	top: 4vh;
	left: 7vw;
}

.YourMoneyAmtColA {
	font-size: 1.7rem;
	font-weight: bold;
	color: #00f48e;
	position: relative;
	top: 6vh;
}

.YourMoneyAmtColB {
	font-size: 1.7rem;
	font-weight: bold;
	color: #00f48e;
	position: relative;
	top: 6vh;
	left: 6vw;
}

.YourMoneyAmtLeft {
	font-size: 1.7rem;
	font-weight: bold;
	color: #00f48e;
	position: relative;
	left: 52vw;
}

.Earned {
	border-right: solid 1px #f2f2f2;
	border-bottom: solid 1px #f2f2f2;
	margin-left: 1rem;
}

.WillEarn {
	border-bottom: solid 1px #f2f2f2;
}

.Spent {
	border-bottom: solid 1px #f2f2f2;
	border-right: solid 1px #f2f2f2;
	margin-left: 1rem;
}

.RemainingBudget {
	border-bottom: solid 1px #f2f2f2;
}

.WhatsLeft {
	width: 100%;
	height: 13vh;
	margin-left: 1rem;
}
