.Icon {
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
}
.IconHeartLight {
	background-image: url("_img/_icon/light/heart.svg")
}
.IconHeartDark {
	background-image: url("_img/_icon/dark/heart.svg")
}
.IconPlusLight {
	background-image: url("_img/_icon/light/plus.svg")
}
.IconPlusDark {
	background-image: url("_img/_icon/dark/plus.svg")
}
