.LedgerSet {
  margin: 0 auto;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
}
.LedgerItem {
  padding: 1rem 1rem;
  cursor: pointer;
}
.LedgerItem.Tapped {
  animation: tapBlink 300ms 1;
  -webkit-animation: tapBlink 300ms 1;
}
@keyframes tapBlink {
  0%   { background-color: hsla(0, 0%, 0%, 0.2) }
  100% { background-color: #fff }
}
.LedgerRow {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}
.LedgerCell {
  font-size: .9rem;
}
// .LedgerRow:nth-child(1) {
//   margin-bottom: 10px;
// }
.LedgerRow .ProgBarContainer {
  margin-top: .9rem;
}
.LedgerRow .OverBudgetBarContainer {
  margin-top: .9rem;
}
.RedText {
  opacity: 1;
  color: red;
}
.LedgerCellCenter {
  position: absolute;
  left: 30%
}
