body {
	padding: 0;
}

// LOG IN PAGE

.LogInContainer {
	background: red;
	height: 100vh;
	width: 100vw;
}

.LogInGreetingContainer {
	height: 20%;
	position: relative;
	top: 25vh;
	text-align: center;
	padding: 1rem;
}

.LogInGreeting {
	color: white;
	font-size: 2.5rem;
	font-weight: bold;
	line-height: 125%;
	padding: 0;
	margin: 0;
	text-align: center;
}

.SignUpCTA {
	font-size: .7rem;
	height: 7%;
	width: 60%;
	position: relative;
	top: 35%;
	text-align: center;
	margin: 0 auto;
	opacity: .5;
}

.LogInDividerContainer {
	height: 1px;
	position: relative;
	top: 34%;
	opacity: .1;
}

.LogInDivider {
	border-bottom: 1px solid;
	margin: 0 auto;
	height: 1px;
	width: 60%
}

.LogInCTA {
	font-size: .7rem;
	height: 7%;
	position: relative;
	top: 38%;
	opacity: .5;
	text-align: center;
}

.LogInAboutCasey {
	font-size: .9rem;
	text-align: center;
	position: relative;
	top: 58%;
}

.LogInAboutCasey a {
	color: #fff;
	opacity: .5;
}

//LOGIN FORM

.LogInFormContainer {
	position: relative;
	top: 40%;
}

.LogInForm {
	background: gray;
	margin: 0 auto;
	position: relative;
	width: 90%;
}

input[type=text], input[type=password] { 
	height: 2.8rem;
	width: 100%;	 
	font-size: .9rem;
}

input:focus {
	outline: none;
}

.InputPadding {
	padding: 1rem;
}

.PasswordHelp {
	position: relative;
	top: 40%;
	height: 2rem;
	text-align: center;
}

.PasswordHelp a {
	font-size: .9rem;
	color: white;
}











