.LogInContainer {
	// background: red;
	height: 100vh;
	width: 100vw;
}

.LogInGreetingContainer {
	background: gray;
	height: 20%;
	position: relative;
	top: 25vh;
	text-align: center;
	padding: 1rem;
}

.LogInGreeting {
	font-size: 2.5rem;
	text-align: center;
	padding: 0;
	margin: 0;
	line-height: 125%;
	font-weight: bold;
	color: white;
}

.SignUpCTA {
	position: relative;
	top: 32vh;
	text-align: center;
	height: 7%;
	width: 60%;
	border-bottom: 1px solid #ccc;
	margin: 0 auto;
}

.LogInCTA {
	background: green;
	position: relative;
	top: 41vh;
	text-align: center;
}

.LogInAboutCasey {
	text-align: center;
}