.AppNav {
	background-color: white;
	border-top: 1px solid #f2f2f2;
	font-size: .8rem;
	height: 10%
	width: 100%;
	position: fixed;
	top: 90vh;
	margin: 0;
	padding: 0;
	z-index: 99999;
}

.AppNav a {
	color: black;
}

ul {
	margin: 0;
	padding: 0;
}

.AppNav ul {
	list-style: none;
	padding: .5rem 0;
}

.AppNav ul li {
	display: inline-block;
	padding: 1.2rem;
}

.AppNavHome {
	opacity: .5;
}

.AppNavSpend {
	opacity: .5;
}

.AppNavBudget {
	opacity: .5;
}

.AppNavBills {
	opacity: .5;
}

.AppNavAccount {
	background: url("_img/_icon/dark/account.svg") no-repeat;
	background-size: 45%;	
	background-position: center center;
	height: 16px;
	width: 16px;
	opacity: .52
	position: relative;
	top: .5rem;
	left: 1rem;
	text-indent: -9999px;
}

.ActiveTab {
	font-weight: bold;
	opacity: 1;
}