.AppNav {
	background: white;
	border-top: 1px solid #f2f2f2;
	font-size: .8rem;
	height: 8vw;
	width: 100vw;
	position: fixed;
	top: 92vh;
	margin: 0;
	padding: o;
	z-index: 999999;
}

.AppNav a {
	color: black;
}

ul {
	margin: 0;
	padding: 0;
}

.AppNav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	padding: 1rem;
}

.AppNav li {
	
}

.AppNavHome {
	opacity: .5;
}

.AppNavSpend {
	opacity: .5;
}

.AppNavBudget {
	opacity: .5;
}

.AppNavBills {
	opacity: .5;
}

.AppNavAccount {
	background: url("_img/_icon/dark/account.svg") no-repeat;
	background-size: 90%;	
	background-position: center center;
	height: 16px;
	width: 16px;
	opacity: .5;
	text-indent: -9999px;
}

.ActiveTab {
	font-weight: bold;
	opacity: 1;
}