.AppNav {
	background: white;
	border-top: 1px solid #f2f2f2;
	font-size: .8rem;
	height: 50px;
	width: 100vw;
	position: fixed;
	top: 0;
	margin: 0;
	padding: 0;
	z-index: 900;
}
.AppNav a {
	color: black;
}
ul {
	margin: 0;
	padding: 0;
}
.AppNav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	padding: 18px unit2 unit2 unit2;
}
.AppNavAccount {
	background: url("_img/_icon/light/person.svg") no-repeat;
	background-size: 100%;	
	background-position: center center;
	height: 16px;
	width: 16px;
	text-indent: -9999px;
}
.ActiveTab {
	font-weight: bold;
	opacity: 1;
}
.NavItem {
	font-size: .9rem;
}



