.BankInfo {
  font-size: .86rem;
  margin-top: 2rem;
  position: relative;
}
.ButtonSearch {
  background: url(_img/_icon/dark/search.svg) no-repeat;
  height: 24px;
  width: 24px;
  position: relative;
  top: -2.5rem;
  left: 78%;
  text-indent: -9999px;
}
.BankInfoAmt {
  position: relative;
  top: -1rem;
  left: 80%;
}

.FontSizeSm {
  font-size: .8rem;
}