@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
	background: white;
}

.ContentContainer {

}

.ViewHeader {

}

.ViewLabel {
	font-size: .7rem;
	font-family: CircularStdBold;	
	letter-spacing: .08rem;
	padding: 1.5rem 1rem;
	opacity: .5;
	text-transform: uppercase;
}

.ViewSettings {
	background: url('_img/_icon/dark/gear.svg')
	height: 24px;
	width: 24px;
	position: relative;
	top: -2.7rem;
	left: 90%;
	text-indent: -9999px;
}

.BankInfo {
	
}

.BankName {
	
}
	
.BankAccountName {
	
}
	
.BankSearch {
	
}
	
#ViewOutput {

}