@import url('https://fonts.googleapis.com/css?family=Inconsolata');

// this bitch right here

.AppNav {
	position: fixed;
}

// end

body {
	background: white;
}

.ContentContainer {

}

.ViewHeader {

}

.ViewLabel {
	font-size: .7rem;
	font-family: CircularStdBold;	
	letter-spacing: .08rem;
	padding: 1.5rem 1rem;
	opacity: .5;
	text-transform: uppercase;
}

.ViewSettings {
	background: url('_img/_icon/dark/gear.svg') no-repeat;
	height: 24px;
	width: 24px;
	position: relative;
	top: -2.7rem;
	left: 90%;
	text-indent: -9999px;
}

.BankInfo {
	position: relative;
	padding: 0 1rem;
	font-size: .9rem;
}

.BankName {
}
	
.BankAccountName {
	opacity: .5;
}
	
.BankSearch {
	background: url('_img/_icon/dark/search.svg') no-repeat; 
	text-indent: -9999px;
	position: relative;
	height: 24px;
	width: 24px;
	top: -2rem;
	left: 94%;
	
}
	
#ViewOutput {

}