.ViewLabel {
  font-size: .7rem;
  font-weight: 700;
  letter-spacing: .08rem;
  opacity: .5;
  padding: 1.5rem 1rem;
  text-transform: uppercase;
}
.ViewSettings {
  background: url(_img/_icon/dark/gear.svg) no-repeat;
  height: 24px;
  width: 24px;
  position: relative;
  top: -2.7rem;
  left: 90%;
  text-indent: -9999px;
}

.BankInfo {
  font-size: .86rem;
  margin-top: -2rem;
  position: relative;
  padding: 0 1rem;
}

.BankAccountName {
  opacity: .5;
}

.BankSearch {
  background: url(_img/_icon/dark/search.svg) no-repeat;
  height: 24px;
  width: 24px;
  position: relative;
  top: -1.5rem;
  left: 94%;
  text-indent: -9999px;
}

// TRANSACTION INFO
.TransactionContainer {
  font-size: .9rem;
  margin-bottom: 4rem;
}

.TransactionSingle {
  border-top: 1px solid #ccc;
  font-size: .86rem
}

.TransactionCategory {
  padding: 1rem 0 0 1rem;
}
.TransactionCategory div {
  opacity: .5
}
.TransactionCategory .Unlabeled {
  opacity: 1;
  color: color-red;
}

.TransactionVendor {
  padding: 0 0 0 1rem;
}

.TransactionAmount {
  font-family: 'Inconsolata',courier;
  position: relative;
  top: -1.1rem;
  padding: 0 1rem;
  text-align: right;
}