html
	font-size 15px
	font-family typeface-body
	color: color-black

body, p
	font-size 1rem

.Unselectable
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

p
	line-height 150%
	margin -.5em 0 1em 0
	text-align left
	cursor: default
	
a
	text-decoration: none
	color text-color		
	
strong 
	font-weight normal

h1,h2,h3,h4,h5,h6
	margin 0 0
	padding: 0 0
	font-weight: normal
	line-height 130%
	position relative
	z-index 9999
	cursor: default;
	font-size: 1rem;
	i
		font-style normal
	
.Display2 {
	font-size: 3rem;
	margin: 1rem 1rem;
}

.Display1 {
	font-size: 2.26rem;
	margin: 1rem 1rem;
}

.Headline {
	font-size: 1.6rem;
	margin: 1rem 1rem;
}

.Title {
	font-size: 1.2rem;
	margin: 1rem 1rem;
}

.Subhead1 {
	font-size: 1rem;
	font-weight: bold;
	margin: 1rem 1rem;
}

.Body1 {
	font-size: .86rem;
	margin: 1rem 1rem;
}

.Caption2 {
	font-size: .73rem;
	margin: 1rem 1rem;
	font-weight: bold;
	text-transform: uppercase;
}

.Caption {
	font-size: .8;
	margin: 1rem 1rem;
}

.CallToAction {
	font-size: .86rem;
	font-weight: bold;
	letter-spacing: .06rem;
	margin: 1rem 1rem;
	text-transform: uppercase;
}
















		