html
	font-size 15px
	font-family typeface-body

body, p
	font-size 1rem
	color: color-black

.unselectable
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

p
	line-height 150%
	margin -.5em 0 1em 0
	text-align left
	cursor: default
	
a
	text-decoration: none
	color text-color		
	
strong 
	font-weight normal

h1,h2,h3,h4,h5,h6
	margin 0 0
	padding: 0 0
	font-weight: normal
	line-height 130%
	position relative
	z-index 9999
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	i
		font-style normal

h1
	font-size 9vw
	margin-top -1vw
	font-family typeface-headline
	
h2
	font-size 1.3rem
	font-family typeface-headline
	margin 0em 0 .5em 0

h3, h4
	font-size .9rem
	font-family typeface-headline
	margin-bottom 10vw
	
h5
	font-size 1.8rem
	
h6
	font-size 1.25rem
	color blue
	


		