html
	font-size 15px
	font-family typeface-body
	color: color-black

body, p
	font-size 1rem

.Unselectable
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

p
	line-height 150%
	margin -.5em 0 1em 0
	text-align left
	cursor: default
	
a
	text-decoration: none
	color text-color		
	
strong 
	font-weight normal

h1,h2,h3,h4,h5,h6
	margin 0 0
	padding: 0 0
	font-weight: normal
	line-height 130%
	position relative
	z-index 9999
	cursor: default;
	font-size: 1rem;
	i
		font-style normal
	


		