// Styles

color-white=				#fff
color-creme=				#FAF9F7
color-black=				#2D2926
color-greenbright=			#62D78C
color-greendark=			#B0CA70	

typeface-body= 				CircularStdBook, Arial, sans-serif
typeface-body-bold= 		CircularBold, ArialBold, sans-serif
typeface-body-italic= 		Arial, sans-serif
typeface-headline= 			Arial, sans-serif

// Breakpoint (matches flexboxgrid)

phone =						"(min-width: 30em)"
tablet =					"(min-width: 48em)"
laptop =					"(min-width: 62em)"
desktop =					"(min-width: 75em)"
bigscreen =					"(min-width: 90em)"
