 <% include ../partials/header %>
 <% include ../partials/nav %>
<div class="ContentContainer">
	<div class="BudgetHeader">
		<div class="ViewLabel">Budgets</div>
		<div class="BudgetSort">Sort</div>
    <div class="BudgetSettings">Settings</div>
    <div>
    	<div class="BudgetHeaderProgBarContainer">
    		<span class="BudgetHeaderProgBar"></span>
    	</div>
    </div>
   </div>
</div>
<% include ../partials/footer %>