 <% include ../partials/header %>
 <% include ../partials/nav %>
<div class="ContentContainer">
	<div class="YourStatus">
		<div class="CallToAction YourStatusTitle">
			Your Status
		</div>
		<div class="YourStatusAnnouncement">
			<p>Now get outta here and go enjoy your hard-earned money.</p>
		</div>
	</div>
	<div class=YourMoney>
			<div class="YourMoneySection Earned">You've Earned</div>
			<div class="YourMoneySection WillEarn">You'll Earn</div>
			<div class="ClearFloat"></div>
			
			<div class="YourMoneySection Spent">You've Spent</div>
			<div class="YourMoneySection RemainingBudget">Remaining Budget</div>
			
			<div class="ClearFloat"></div>
			
			<div class="WhatsLeft">What's Left</div>
	</div>
</div>
<% include ../partials/footer %>