 <% include ../partials/header %>
 <% include ../partials/nav %>
<div class="ContentContainer">
	<div class="YourStatus">
		<!-- <div class="CallToAction YourStatusTitle mt4 mr4 mb4 ml4">
			Your Status
		</div> -->
		<div class="YourStatusAnnouncement mt6 mr4 mb5 ml4">
			<p>Now get outta here and go enjoy your hard earned money.</p>
		</div>
	</div>
	<div class="YourMoney">
			<div class="YourMoneySection Earned">
				<div class="CallToAction mt2 mb1 ml4 op50">You've Earned</div>
				<div class="YourMoneyAmt mb2 ml4">&#36;0</div>
			</div>
			<div class="YourMoneySection WillEarn">
				<div class="CallToAction mt2 mb1 ml4 op50">You'll Earn</div>
				<div class="YourMoneyAmt mb2 ml4">&#36;4512</div>
			</div>
			<div class="ClearFloat"></div>
			<div class="YourMoneySection Spent">
				<div class="CallToAction mt2 mb1 ml4 op50">You've Spent</div>
				<div class="YourMoneyAmt mb2 ml4">&#36;98</div>
			</div>
			<div class="YourMoneySection RemainingBudget">
				<div class="CallToAction mt2 mb1 ml4 op50">Remaining Budget</div>
				<div class="YourMoneyAmt mb2 ml4">&#36;2456</div>
			</div>
			<div class="ClearFloat"></div>
			<div class="WhatsLeft">
				<div class="CallToAction mt2 mb1 ml4 op50">What's Left</div>
				<div class="YourMoneyAmt mb4 ml4">&#36;837</div>
			</div>
	</div>
</div>
<% include ../partials/footer %>