 <% include ../partials/header %>
 <% include ../partials/nav %>
<div class="ContentContainer">
	<div class="YourStatus">
		<div class="CallToAction YourStatusTitle">
			Your Status
		</div>
		<div class="YourStatusAnnouncement">
			<p>Now get outta here and go enjoy your hard-earned money.</p>
		</div>
	</div>
	<div class="YourMoney">
		<div class="YourMoneyEarned">
			<p class="CallToAction">
				You've Earned
			</p>
		</div>
		<div class="YourMoneyAmount">
			&#36;0
		</div>
		<div class="YourMoneyWillEarn">
			<p class="CallToAction">
				You've Earned
			</p>
			<div class="YourMoneyAmount">
				&#36;0
			</div>
		</div>
		<div class="YourMoneySpent">
			<p class="CallToAction">
				You've Earned
			</p>
			<div class="YourMoneyAmount">
				&#36;0
			</div>
		</div>
		<div class="YourMoneyRemainingBudget">
			<p class="CallToAction">
				You've Earned
			</p>
			<div class="YourMoneyAmount">
				&#36;0
			</div>
		</div>
		<div class="YourMoneyLeft">
			<!-- syled .class p { -->
			<p class="CallToAction">
				You've Earned
			</p>
		</div>
		<div class="YourMoneyLeftAmount">
			&#36;0
		</div>
	</div>
</div>
<% include ../partials/footer %>