 <% include ../partials/header %>
 <% include ../partials/nav %>
<div class="ContentContainer">
	<div class="YourStatus">
		<div class="CallToAction YourStatusTitle">
			Your Status
		</div>
		<div class="YourStatusAnnouncement">
			<p>Now get outta here and go enjoy your hard earned money.</p>
		</div>
	</div>
	<div class=YourMoney>
			<div class="YourMoneySection Earned">
				<div class="CallToAction YourMoneyTitleColA">You've Earned</div>
				<div class="YourMoneyAmtColA">&#36;0</div>
			</div>
			<div class="YourMoneySection WillEarn">
				<div class="CallToAction YourMoneyTitleColB">You'll Earn</div>
				<div class="YourMoneyAmtColB">&#36;4512</div>
			</div>
			<div class="ClearFloat"></div>
			<div class="YourMoneySection Spent">
				<div class="CallToAction YourMoneyTitleColA">You've Spent</div>
				<div class="YourMoneyAmtColA">&#36;98</div>
			</div>
			<div class="YourMoneySection RemainingBudget">
				<div class="CallToAction YourMoneyTitleColB">Remaining Budget</div>
				<div class="YourMoneyAmtColB">&#36;2456</div>
			</div>
			<div class="ClearFloat"></div>
			<div class="WhatsLeft">
				<div class="CallToAction YourMoneyTitleColA">What's Left</div>
				<div class="YourMoneyAmtLeft">&#36;837</div>
			</div>
	</div>
</div>
<% include ../partials/footer %>