 <% include ../partials/header %>
 <% include ../partials/nav %>
<div class="ContentContainer">
	<div class="YourStatus">
		<div class="CallToAction YourStatusTitle">
			Your Status
		</div>
		<div class="YourStatusAnnouncement">
			<p>Now get outta here and go enjoy your hard-earned money.</p>
		</div>
	</div>
	<div class="YourMoney">
		<div class="YourMoneySection YourMoneyEarned">
			<p class="CallToAction YourMoneySectionTitle">
				You've Earned
			</p>
			<div class="YourMoneyAmount">
				&#36;0
			</div>
		</div>
		<div class="YourMoneySection YourMoneyWillEarn">
			<p class="CallToAction YourMoneySectionTitle">
				You'll Earn
			</p>
			<div class="YourMoneyAmount">
				&#36;0
			</div>
		</div>
		<div class="YourMoneySection YourMoneySpent">
			<p class="CallToAction YourMoneySectionTitle">
				You've Spent
			</p>
			<div class="YourMoneyAmount">
				&#36;0
			</div>
		</div>
		<div class="YourMoneySection YourMoneyRemainingBudget">
			<p class="CallToAction YourMoneySectionTitle">
				Remaining Budget
			</p>
			<div class="YourMoneyAmount">
				&#36;0
			</div>
		</div>
		<div class="YourMoneyLeft">
			<!-- syled .class p { -->
			<p class="CallToAction YourMoneySectionTitle">
				What's Left
			</p>
		</div>
		<div class="YourMoneyAmount YourMoneyLeftAmount">
			&#36;0
		</div>
	</div>
</div>
<% include ../partials/footer %>