 <% include ../partials/header %>
 <% include ../partials/nav %>
<div class="ContentContainer">
	<div class="YourStatus">
		<div class="CallToAction YourStatusTitle">
			Your Status
		</div>
		<div class="YourStatusAnnouncement">
			<p>Now get outta here and go enjoy your hard-earned money.</p>
		</div>
	</div>
	<div class="YourMoney">
		<div class="YourMoneySection YourMoneyEarned">
			<p class="CallToAction YourMoneySectionTitleLeft">
				You've Earned
			</p>
			<div class="YourMoneyAmountLeft">
				&#36;0
			</div>
		</div>
		<div class="YourMoneySection YourMoneyWillEarn">
			<p class="CallToAction YourMoneySectionTitleRight">
				You'll Earn
			</p>
			<div class="YourMoneyAmountRight">
				&#36;0
			</div>
		</div>
		<div class="YourMoneySection YourMoneySpent">
			<p class="CallToAction YourMoneySectionTitleLeft">
				You've Spent
			</p>
			<div class="YourMoneyAmountLeft">
				&#36;0
			</div>
		</div>
		<div class="YourMoneySection YourMoneyRemainingBudget">
			<p class="CallToAction YourMoneySectionTitleRight">
				Remaining Budget
			</p>
			<div class="YourMoneyAmountRight">
				&#36;0
			</div>
		</div>
		<div class="YourMoneyLeft">
			<p class="CallToAction YourMoneyLeftSectionTitle">
				What's Left
			</p>
		</div>
		<!-- <div class="YourMoneyAmountRight YourMoneyLeftAmount">
			&#36;0
		</div> -->
	</div>
</div>
<% include ../partials/footer %>