<% include ../partials/header %>
<div class="LogInContainer">
	<div class="LogInFormContainer"> 	
		<a>
			<button class="ButtonShowPassword">Show password</button>
	 	</a>
	 	<form class="LogInForm" method="post" action="index.html">
	    <input class="InputPadding" type="text" name="login" value="" placeholder="Username or Email">
	    <input class="InputPadding" type="password" name="password" value="" placeholder="Password">
	 	</form>
	</div>
	<div class="PasswordHelp">
		<a href="">Forgot your password?</a>
	</div>
</div>
<% include ../partials/footer %>