<% include ../partials/header %>
<div class="ContentContainer">
	<div class="LogInContainer">
		<div class="LogInGreetingContainer">
			<p class="LogInGreeting">Hello,</p> 
			<p class="LogInGreeting">I&rsquo;m Casey.</p>
		</div>
		<button class="ButtonLogIn SignUpCTA CallToAction">Sign Up</button>
		<div class="LogInDividerContainer">
			<div class="LogInDivider"></div>
		</div>
		<button class="ButtonSignUp LogInCTA CallToAction">Log In</button>
		<div class="LogInAboutCasey">
			<a href="">What is Casey?</a>
		</div>
	</div>
</div>
<% include ../partials/footer %>