<% include ../partials/header %>
<div class="ContentContainer">
	<div class="LogInContainer">
		<div class="LogInGreetingContainer">
			<p class="LogInGreeting">Hello,</p> 
			<p class="LogInGreeting">I&rsquo;m Casey.</p>
		</div>
		<div class="SignUpCTA CallToAction">Sign Up</div>
		<div class="LogInCTA CallToAction">Log In</div>
		<div class="LogInAboutCasey">What is Casey?</div>
	</div>
</div>
<% include ../partials/footer %>