<% include ../partials/header %>
<div class="ContentContainer LogInContainer">
	<div class="LogInGreetingContainer">
		<p class="LogInGreeting Headline">Hello,</p> 
		<p class="LogInGreeting Headline">I&rsquo;m Casey.</p>
	</div>
	<button class="ButtonLogIn SignUpCTA CallToAction">Sign Up</button>
	<div class="LogInDividerContainer">
		<div class="LogInDivider"></div>
	</div>
	<button class="ButtonSignUp LogInCTA CallToAction">Log In</button>
	<div class="LogInAboutCasey">
		<a href="">What is Casey?</a>
	</div>
</div>
<% include ../partials/footer %>